<h1>New Event</h1>
<%= form_with model: @event, local: true do |form| %>

    <% if @event.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
            <ul>
                <% @event.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :starts_at, "Start Date and Time" %><br>
        <%= form.datetime_local_field :starts_at %>
    </div>
    <div>
        <%= form.label :ends_at, "End Date and Time" %><br>
        <%= form.datetime_local_field :ends_at %>
    </div>
    <div>
        <%= form.label :location, "Location" %><br>
        <%= form.text_field :location %>
    </div>
        <div>
            <%= form.label :category_id, "Category" %><br>
            <%= form.collection_select :category_id, (@categories || Category.all), :id, :name, include_blank: true %>
        </div>
    <div>
        <%= form.label :published, "Is Published?" %>
        <%= form.check_box :published %>
    </div>
    <div>
        <%= form.submit "Create Event" %>
    </div>
<% end %>